
.navbar{
    position: fixed;
    width: 100%;
    z-index: 400;
    background-color: #F3F2F0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    transition-duration: 0.5s;
    .nav-link{
        @include Gotham-Font;
    }
    .nav-link:hover{
        color: $primary-green;
    }
    .nav-link:focus{
        color: $secondary-green;
    }
    .isActive{
        color: $secondary-green;
        font-weight: 500;
    }

    .container-fluid{
        transition-duration: 0.5s;
    }

    .logo{
        height: 50px;
    }

    .collapse{
        transition-duration: 0.5s;
    }

}

@media (max-width: 768px){
    .collapse{
        transition-duration: 0.5s;
    }
    
}