@import './variables';
@import './fonts';
@import './animations';

/*Remove any underline on a*/
a{
  text-decoration: none;
}


body {
  @include reset-margin;
  background-color: white;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1; /* Grow to fill available space */
}