.carousel-container {
  @include add-margin-top;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  .carousel-button {
    padding: 8px 16px;
    border: none;
    background-color: $primary-green;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }

  .carousel {
    display: flex;
    overflow: hidden;
    justify-content: center;

    .carousel-item {
      flex: 0 0 calc(33.333% - 10px); /* Adjust the width based on the number of items you want to show */
      margin-right: 10px; /* Adjust the margin between items */
      transition: transform 1s;

      img {
        width: 100%;
        height: auto;
      }

      &.active {
        transform: translateX(0);
      }
      
      & .left{animation: slideLeft 1s; /* Default animation direction */}

      &.right {animation: slideRight 1s; /* Animation for moving to the right */}
    }
  }
}


@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300%);
  }
}